*{
	margin:0;
	padding:0;

}
body{
	background: #eaeaea;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;

}
footer {
	background: orange;
	display: block;
	padding: 3em 0;
	max-width: 100%;
	text-align: center;
}

img {
	max-width: 100%;
}

.nav {
	background: rgba(0,0,0,.85);
	display: inline-block;
	position: relative;
	background-color: #fefefe;
	width: auto;
}

.nav li {
	display: inline-block;
	margin:0;
	padding: 1em;

}

.nav li a{
	color:rgba(white,.5);
	text-decoration: none;
}



